<ng-container *ngIf="!task.done">
  <mat-divider [inset]="true"></mat-divider>
  <mat-list-item>
    <mat-icon
      mat-list-icon
      style="cursor: pointer; user-select: none;"
      (click)="markDone()">check_box_outline_blank</mat-icon>
    <p mat-line>{{ task.description }}</p>
    <button mat-icon-button (click)="moveUp()" [diabled]="index === firstUndoneTaskIx">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-icon-button (click)="moveDown()" [diabled]="index === lastUndoneTaskIx">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <button mat-icon-button (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</ng-container>
