<mat-card>
  <mat-card>
    <mat-card-content> 
      <mat-list id="to-dos">
        <h3 mat-subheader>To Dos</h3>
        <app-to-do-item
          *ngFor="let task of tasks; index as index; last as isLast; first as isFirst;"
          [task]="task"
          [index]="index"
          (deleteTask)="deleteTask($event)">
        </app-to-do-item>
        <mat-divider [inset]="true"></mat-divider>
        <app-add-task></app-add-task>
      </mat-list>
      <mat-list id="dones">
        <h3 mat-subheader>Done</h3>
        <mat-divider [inset]="true"></mat-divider>
        <app-done-item
          *ngFor="let task of tasks; index as index"
          [task]="task"
          [index]="index"
          (deleteTask)="deleteTask($event)">
        </app-done-item>
      </mat-list>
    </mat-card-content>  
    <mat-card-footer>&nbsp;</mat-card-footer>
  </mat-card>
</mat-card>
