<mat-tab-group>
  <mat-tab label="To Do">
    <app-todo-container></app-todo-container>
  </mat-tab>
  <mat-tab label="History">
    <app-history-container></app-history-container>
  </mat-tab>
</mat-tab-group>
<div id="issue-report" style="position: absolute; left: auto; right: 27px; top: 2px; width: auto; text-align: center; font-weight: bold;margin-top: -5px;">
  <p><a href="https://github.com/ishehroze/angular-6-material-todo/issues/new" target="_blank" style="text-decoration: none !important; color: rgba(0,0,0,.54); font-size: x-small;" >🪲 Report issue</a></p>
</div>
